.link {
	margin-bottom: 1.5rem;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
}
.link-span:hover {
		padding-bottom: 2px;
		border-bottom: black 2px solid;
}
@media (max-width: 992px) {
	.link {
		font-size: .68rem;
	}
}

.active-span {
	padding-bottom: 2px;
	border-bottom: black 2px solid;
}
@media (max-width: 992px) {
	.active-span {
		padding: 5px 10px;
		border: black 2px solid;
		border-radius: 5px;
	}
}

.menu {
	min-width: 20%;
	display: flex;
	flex-direction: column;
}
@media (max-width: 992px) {
	.menu {
		width: 100%;
	}
}


ul {
	list-style-type: none;
}
@media (max-width: 992px) {
	ul {
		padding-left: 0px;
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;
	}
}


