.post {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 20px;
	background-color: #fff;
	padding: 1.5rem;

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
	}
}

.post-info{
	display: flex;
	flex-direction: row;
	margin-bottom: .7rem;
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: 500;
}

.category {
	font-size: .875rem;
	color: #5405bd;
	text-transform: uppercase;
	margin-right: .5em;
}

.date {
	font-size: .875rem;
	text-transform: uppercase;
}

.post-description{
	display: flex;
	flex-direction: column;

	.post-title{
		font-size: 1.75rem;
		font-weight: 700;
	}

	.post-link{
		color: #6b748c;
		font-size: .9rem;
		line-height: 1.37rem;
	}
}

a{
    text-decoration: none;
    color: black
}