body {
	background-color: #f9fafa;
	margin: 0;
	font-family: Inter, helvetica, arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
